.textarea {
    border: 1px solid black;
    margin: 5px;
    height: auto;
    width: 480px;
    overflow-wrap: anywhere;
}
.keyboard {
    border: 1px solid black;
    margin: 5px;
    width: auto;
    height: auto;
}
.key, .widekey {
    float: left;
    position: relative;
    width: 40px;
    height: 40px;
    margin: 4px;
    border: 2px solid rgb(48, 48, 48);
    border-radius: 10px;
    cursor: pointer;
}
.keyup {
    background-color: white;
}
.keydown {
    background-color: rgb(240, 234, 227);
}
.widekey {
    width: 80px;
}
.fix {
    clear: both;
}
.key-tl {
    position: absolute;
    top: 2px;
    left: 2px;
}
.key-tr {
    position: absolute;
    top: 2px;
    right: 2px;
}
.key-bl {
    position: absolute;
    bottom: 2px;
    left: 2px;
}
.key-br {
    position: absolute;
    bottom: 2px;
    right: 2px;
}
.key-normal {
    color: black;
    font-weight: bold;
}
.key-gray {
    color: rgb(194, 194, 194);
    font-weight: normal;
}